  .navbar{
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
}
.navbarelement{
  color: black;
  font-size: medium;
  text-decoration: none;
  transition: 0.3s ease;
  margin: 15px;
}
.navbarelement:hover{
  background-color: red;
  border-radius: 15px;
  padding: 10px;
  color: white;
}
.content{
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin:10px;
  align-items: center;
}
.textcontent{
  transition: transform 0.3s ease;
  cursor: pointer;
}
.textcontent:hover{
  transform: scale(1.1);
  color:red;
}
.myimage{
  width: 30%;
  height: auto;
  box-shadow: 2px 2px 10px black;
  transition: transform 0.3s ease;
  transform: rotate(5deg);
}
.myimage:hover{
  transform: scale(1.02);
}
.socialmedia{
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  width: 100%;
}
.socialmediaelement{
  cursor: pointer;
  transition: 0.3s ease;
}
.socialmediaelement:hover{
  transform: scale(1.1);
}
.h1{
  text-decoration: none;
}

@media (max-width: 850px){
   .navbar{
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
}
.navbarelement{
  color: black;
  font-size: medium;
  text-decoration: none;
  transition: 0.3s ease;
  margin: 15px;
}
.navbarelement:hover{
  background-color: red;
  border-radius: 15px;
  padding:5px;
  color: white;
}
.content{
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin:10px;
  align-items: center;
}
.textcontent{
  transition: transform 0.3s ease;
  cursor: pointer;
  font-size: large;
}
.textcontent:hover{
  transform: scale(1.1);
  color: red;
}
.myimage{
  width: 30%;
  height: auto;
  box-shadow: 2px 2px 10px black;
  transition: transform 0.3s ease;
  transform: rotate(5deg);
}
.myimage:hover{
  transform: scale(1.02);
}
.socialmedia{
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  width: 120%;
}
.socialmediaelement{
  cursor: pointer;
  transition: 0.3s ease;
}
.socialmediaelement:hover{
  transform: scale(1.1);
}
.h1{
  text-decoration: none;
  transition: 0.3s ease;
}
}
